extends layout

block content
	include lib/header
	section#inner-headline
		.container
			.row
				.col-lg-12
					h2.pageTitle 定价
	section#content
		.container
			.row
				.col-md-12
					.about-logo
						h3 Voluptatem Accusantium Doloremque
						p
							| Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
						p
							| Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
			.row
				.col-lg-12
				.col-lg-3
					.pricing-box-item
						.pricing-heading
							h3
								strong 基础
						.pricing-terms
							h6 $15.00 / Year
						.pricing-container
							ul
								li
									i.icon-ok
									|  响应式设计
								li
									i.icon-ok
									|  引导设计
								li
									i.icon-ok
									|  持续支持
								li
									i.icon-ok
									|  免费试用版
								li
									i.icon-ok
									|  HTML5 CSS3 jQuery
						.pricing-action
							a.btn.btn-medium(href='#')
								i.icon-bolt
								|  Get Now
				.col-lg-3
					.pricing-box-item
						.pricing-heading
							h3
								strong 标准
						.pricing-terms
							h6 $20.00 / Year
						.pricing-container
							ul
								li
									i.icon-ok
									|  响应式设计
								li
									i.icon-ok
									|  引导设计
								li
									i.icon-ok
									|  持续支持
								li
									i.icon-ok
									|  免费试用版
								li
									i.icon-ok
									|  HTML5 CSS3 jQuery
						.pricing-action
							a.btn.btn-medium(href='#')
								i.icon-bolt
								|  Get Now
				.col-lg-3
					.pricing-box-item.activeItem
						.pricing-heading
							h3
								strong 高级
						.pricing-terms
							h6 $15.00 / Year
						.pricing-container
							ul
								li
									i.icon-ok
									|  响应式设计
								li
									i.icon-ok
									|  引导设计
								li
									i.icon-ok
									|  持续支持
								li
									i.icon-ok
									|  免费试用版
								li
									i.icon-ok
									|  HTML5 CSS3 jQuery
						.pricing-action
							a.btn.btn-medium(href='#')
								i.icon-bolt
								|  Get Now
				.col-lg-3
					.pricing-box-item
						.pricing-heading
							h3
								strong 有力
						.pricing-terms
							h6 $15.00 / Year
						.pricing-container
							ul
								li
									i.icon-ok
									|  响应式设计
								li
									i.icon-ok
									|  引导设计
								li
									i.icon-ok
									|  持续支持
								li
									i.icon-ok
									|  免费试用版
								li
									i.icon-ok
									|  HTML5 CSS3 jQuery
						.pricing-action
							a.btn.btn-medium(href='#')
								i.icon-bolt
								|  Get Now
