footer
	.container
		.row
			.col-md-3
				.widget
					h5.widgetheading 联系我们
					address
					strong 技术支持
					br
					| 					南宁火星人信息科技有限公司
					br
					| 					 Mars Information Technology CO.,Ltd
					p
					i.icon-phone
					|  0771-3216270
					br
					i.icon-envelope-alt
					|  info@mars-it.net
			.col-md-3
				.widget
					h5.widgetheading 快速访问
					ul.link-list
						li
							a(href='#') 最新资讯
						li
							a(href='#') 条款和条件
						li
							a(href='#') 隐私政策
						li
							a(href='#') 职业生涯
						li
							a(href='#') 联系我们
			.col-md-3
				.widget
					h5.widgetheading 产品和服务
					ul.link-list
						li
							a(href='#') 微商城
						li
							a(href='#') 一码通
						li
							a(href='#') 火星云SaaS
						li
							a(href='#') 智慧景区
						li
							a(href='#') 智能硬件
			.col-md-3
				.widget
					h5.widgetheading 支持
					ul.link-list
						li
							a(href='#') 新手入门
						li
							a(href='#') 使用指南
						li
							a(href='#') 常见问题
						li
							a(href='#') 热门活动
						li
							a(href='#') 联系客服
			
	#sub-footer
		.container
			.row
				.col-lg-6
					.copyright
						p
						| Copyright © 2016.Mars Information Technology CO.,Ltd
				.col-lg-6
					ul.social-network
						li
							a(href='#', data-placement='top', title='Facebook')
								i.fa.fa-facebook
						li
							a(href='#', data-placement='top', title='Twitter')
								i.fa.fa-twitter
						li
							a(href='#', data-placement='top', title='Linkedin')
								i.fa.fa-linkedin
						li
							a(href='#', data-placement='top', title='Pinterest')
								i.fa.fa-pinterest
						li
							a(href='#', data-placement='top', title='Google plus')
								i.fa.fa-google-plus
a.scrollup(href='#')
	i.fa.fa-angle-up.active
